* {
     box-sizing: border-box; /* height/width includes content padding and borders */
   }
   div{
     /*border: 1px solid pink;*/
     padding: 5px;
   }
   .container{
     margin-left: auto;
     margin-right: auto;
   }
   html, body {
     margin:0px;
     padding:0px;
   }
   /*.row{

     display: flex;
     flex-wrap: wrap;

   }*/
   .me{
     background: 1px solid;
     background-color: #57B6E4;

     position: static; /* fill the box */
   }
   #banner{
     position: static;
     padding:.5em;
     padding-left: 1em; 
     color: #FFFFFF;
     background-color: #0982BD;
     background-size:contain;
     background-position: left;

   }
   .profilepic{

     background-image: url("../images/profile2.jpg");
     background-repeat: no-repeat;
     background-size: contain;


     background-position: top right;

     position: static;

   }
   .sampleCW{
     background: 1px solid;
     background-color: #57B6E4;
   }
   .column, .oddColumn {
     font-family:"Lato";
     color:#043C57;
     background-color:#57B6E4 ;
     padding: 5px;
     border-color: #2C9BD0;
     border: 1px solid;

   }

   .feature {
     height: 300px;

     position: static;
     top: 0;
     left:0;
     right:0;
     bottom: 0;
   }

   /* Keep img from overflowing feature container */
   .feature img{
     max-width: 100%;
     max-height: 100%;

   }

   .column{

     flex-shrink: 0;
     flex-grow: 1;
   }
   p {
     font-family:"Lato";
     color:#043C57;

   }
   h1, h2, h3 {
     font-family:"Lato";
     color:#065A83;
   }
